<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <button
                class="btn btn-primary mt-3"
                (click)="onlyOdd = !onlyOdd"
            >
                Only show odd numbers
            </button>
            <ul class="list-group mt-3">
                <div *ngIf="onlyOdd">
                    <li
                        class="list-group-item"
                        *ngFor="let number of oddNumbers"
                        [ngClass]="{odd: number % 2 !== 0}"
                        [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}"
                    >
                        {{ number }}
                    </li>
                </div>
                <div *ngIf="!onlyOdd">
                    <li
                        class="list-group-item"
                        *ngFor="let number of evenNumbers"
                        [ngClass]="{odd: number % 2 !== 0}"
                        [ngStyle]="{backgroundColor: number % 2 !== 0 ? 'yellow' : 'transparent'}"
                    >
                        {{ number }}
                    </li>
                </div>
            </ul>
            <p appBasicHighlight>Style Me With basic directives</p>
            <p appBetterHighlight [defaultColor]="'yelow'" [highlightColor]="'red'">Style Me With better directives</p>
        </div>
    </div>
</div>